<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Main</h2>
    <form action="/dbs" method="post">
        <input type = "submit" value="DBS Share Price Prediction">
    </form>
        <form action="/chatbot" method="post">
        <input type = "submit" value="Chatbot">
    </form>
    </form>
        <form action="/userlog" method="post">
        <input type = "submit" value="View User Log">
    </form>
    </form>
        <form action="/deletelog" method="post">
        <input type = "submit" value="Delete User Log">
    </form>
    </div>
</body>




